@{
  ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h1 class="display-4">Calculator With Memory</h1>
	<p></p>
	<form name="calculator" method="post">
		<input type="text" id="display" name="display" value=""/><br /><br />

		<input type="button" style="height:30px; width:40px" id="seven" name="seven" value="7" onClick="document.calculator.display.value+='7'" />
		<input type="button" style="height:30px; width:40px" id="eight" name="eight" value="8" onclick="document.calculator.display.value+='8'" />
		<input type="button" style="height:30px; width:40px" id="nine" name="nine" value="9" onclick="document.calculator.display.value+='9'" />
		<input type="button" style="height:30px; width:40px" id="divide" name="divide" value="/" onclick="document.calculator.display.value+='/'" /><br /><br />

		<input type="button" style="height:30px; width:40px" id="four" name="four" value="4" onclick="document.calculator.display.value+='4'" />
		<input type="button" style="height:30px; width:40px" id="five" name="five" value="5" onclick="document.calculator.display.value+='5'" />
		<input type="button" style="height:30px; width:40px" id="six" name="six" value="6" onclick="document.calculator.display.value+='6'" />
		<input type="button" style="height:30px; width:40px" id="mulitply" name="mulitply" value="*" onclick="document.calculator.display.value+='*'" /><br /><br />

		<input type="button" style="height:30px; width:40px" id="one" name="one" value="1" onclick="document.calculator.display.value+='1'" />
		<input type="button" style="height:30px; width:40px" id="two" name="two" value="2" onclick="document.calculator.display.value+='2'" />
		<input type="button" style="height:30px; width:40px" id="three" name="three" value="3" onclick="document.calculator.display.value+='3'" />
		<input type="button" style="height:30px; width:40px" id="minus" name="minus" value="-" onclick="document.calculator.display.value+='-'" /><br /><br />

		<input type="button" style="height:30px; width:40px" id="zero" name="zero" value="0" onclick="document.calculator.display.value+='0'" />
		<input type="button" style="height:30px; width:40px" id="dot" name="dot" value="." onclick="document.calculator.display.value+='.'" />
		<input type="button" style="height:30px; width:40px" id="plus" name="plus" value="+" onclick="document.calculator.display.value+='+'" /><br /><br />

		<input type="button" style="height:30px; width:85px" id="clear" name="clear" value="Clear" onclick="document.calculator.display.value=''" />
		<input type="submit" style="height:30px; width:85px" id="submit" name="submit" value="Enter"/>
	</form>
</div>
<hr />
<div class="text-center">
	<ul id="messagesList" class="nobullets"></ul>
</div>
